- if current_page?(group_messages_path(@group))
  %span.chat-header__user
    = user.name
- else
  %li.chat-group-user
    %p.chat-group-user__name
      = user.name
    - unless user.id == current_user.id
      %a.chat-group-user__btn.chat-group-user__btn--remove 削除
